<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QuanLyKSConnectionString"
            connectionString="Data Source=QUANGCUONG\SQLEXPRESS;Initial Catalog=QuanLyKS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>